table {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 10rem;
  flex-direction: column;
}

th, td {
  text-align: center;
}


