mat-form-field {
  /* padding: 0 1rem; */
}
.dialog-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
}
.dialog-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dialog-title {
  text-align: center;
}