<h1 mat-dialog-title class="dialog-title">Cadastrar Pessoa</h1>

<form [formGroup]="cadastroForm" (ngSubmit)="submeterFormulario()">
  <div mat-dialog-content class="dialog-fields">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" required/>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required/>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" mask="(00) 0000-0000" required/>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF/CNPJ</mat-label>
      <input matInput formControlName="registroSocial" mask="000.000.000-00||00.000.000/0000-00" required/>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput formControlName="cep" (blur)="consultarCep($event)"  mask="00000-000" required/>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Numero</mat-label>
      <input matInput formControlName="numero" required />
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento</mat-label>
      <input matInput formControlName="complemento" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Endereço</mat-label>
      <input matInput formControlName="logradouro" readonly minlength="2" required />
      <mat-hint>Campo preenchido por CEP!</mat-hint>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="bairro" readonly minlength="2" required/>
      <mat-hint>Campo preenchido por CEP!</mat-hint>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="cidade" readonly minlength="2" required/>
      <mat-hint>Campo preenchido por CEP!</mat-hint>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>UF</mat-label>
      <input matInput formControlName="uf" readonly minlength="2" required/>
      <mat-hint>Campo preenchido por CEP!</mat-hint>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-buttons">
    <button mat-button (click)="onCancelar()">Cancelar</button>
    <button mat-button [disabled]="getFormularioInvalido()" type="submit">Cadastrar</button>
  </div>
</form>
