<h1 mat-dialog-title class="dialog-title">Cadastrar Pessoa</h1>

<div mat-dialog-content class="dialog-fields">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="data.telefone" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPF/CNPJ</mat-label>
    <input matInput [(ngModel)]="data.registroSocial" maxlength="14" maxlength="14" mask="000.000.000-00" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cep</mat-label>
    <input matInput [(ngModel)]="data.endereco.cep" (blur)="consultarCep($event)" required minlength="8" maxlength="8" pattern="^[0-9]*$"/>
    <mat-error *ngIf="cep.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Numero</mat-label>
    <input matInput [(ngModel)]="data.endereco.numero" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Complemento</mat-label>
    <input matInput [(ngModel)]="data.endereco.complemento" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <input matInput [(ngModel)]="data.endereco.logradouro" readonly />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bairro</mat-label>
    <input matInput [(ngModel)]="data.endereco.bairro" readonly />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cidade</mat-label>
    <input matInput [(ngModel)]="data.endereco.cidade" readonly />
  </mat-form-field>
  <mat-form-field>
    <mat-label>UF</mat-label>
    <input matInput [(ngModel)]="data.endereco.uf" readonly />
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="getValidaFormulario()">
    Cadastrar
  </button>
</div>
